.page{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 13px;
    line-height: 22px;
    /*font-family: syne,sans-serif;*/
    /*letter-spacing: .3px;*/
    height: 100%;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 375px;
    background-color: rgb(23 26 27);
    color: rgb(196 196 196);
    /*margin: 30px 10px 20px 10px;*/
}
.title{

    /*color: #FFFFFF;*/
    background-color: rgba(40 ,44 ,46,0.98);
    /*padding: 15px 20px;*/
    width: 375px ;
    height: 63px ;
    /*border-radius: 4px 4px 0 0;*/
    /*min-height: 74px;*/
}
.title-name{
    font-size: 24px;
    margin-top: 10px;
    line-height: 30px;
}
.container2{
    width: 380px;
    margin: 0 auto 0;
    padding: 40px 24px 0px 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 5px 10px rgb(155 155 155 / 15%);
    box-shadow: 0 5px 10px rgb(155 155 155 / 15%);
}
.container21{
    padding: 0 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.total{
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:space-between;
}
.total2{
    color: rgb(255 255 255);
}
.order-id{
    border-top: 1px solid rgb(155 155 155 / 15%);
    padding: 12px 0;
    font-size: 17px;
    line-height: 20px;
    border-bottom: 1px solid rgb(0 0 0);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:space-between;
}
.order-id2{
    color: rgb(255 255 255);
}
.order{
}
.order-desc{
    border-top: 1px solid rgb(155 155 155 / 15%);
    padding: 12px 0 16px 0;
    font-size: 17px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.product-table{
    width: 100%;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 20px;
    border-bottom: 1px solid rgb(0 0 0);

}
.product-table-header{
    text-align: left;
    font-size: 14px;
    line-height: 16px;

}
.product-table-header-row{
}
.product-table-header-row-cell{
    font-weight: 400;
    /*padding: 0 10px 0 0;*/

}
.product-table-body-row .word-break{
    word-break: break-all;
}
.product-table-body-row-cell{
    color: rgb(255 255 255);
    font-size: 16px;
    line-height: 18px;
    /*padding: 10px 10px 10px 0;*/
}
.row-cell1{
    width: 115px;
}
.row-cell2{
    width: 71px;
}
.row-cell3{
    width: 59px;
}
.row-cell4{
    text-align: right
}
.currency-select{
    border-top: 1px solid rgb(155 155 155 / 15%);
    padding-top: 29px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255 255 255);
}
.currency-select-box{
    padding-bottom: 20px;
}
.pay-notice{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 10px;
    line-height: 12px;
}
.pay-notice1{
    margin-right: 5px;
}
.pay-notice2{
    /*width: 14px;*/
    /*height: 17px;*/
    font-size: 19px!important;
    line-height: 19px!important;
    font-weight: 600;
}
.pay-notice3{
    margin-left: 3px;
}

.email{
    /*margin-bottom: 20px;*/
    /*padding-bottom: 15px;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;

    /*border-bottom: 1px solid #e9e7ee;*/
    border: 1px solid rgb(56 56 56);
    padding: 15px 12px;
    border-radius: 5px;
}
.email1{
    font-size: 8px;
    line-height: 12px;
    width: 280px;
    word-wrap: break-word;
    /*padding: 5px 0;*/
}
.email2{
    width: 12px;
    height: 14px;
    /*margin: 3px 0;*/
}
.icon-fuzhi{
    color: rgb(236 116 255);
}
.qrcode{
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:center;
}
.qrcode1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 155px;
    height: 155px;
    background:url('/static/imgs/qr-code-frame.png');
    background-size: contain;
    /*border: 1px solid #f0f0f0;*/


}
.qrcode11{
    width: 135px;
    height: 135px;
    /*border: 1px solid #f0f0f0;*/
    /*border-radius: 5px;*/
}
.qrcode11 img{
    border-radius: 6px;
}
.back-and-waiting{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 33px;
}
.back{
    width: 158px;
    height: 52px;
    margin-right: 8px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    color: rgb(255 255 255);
    padding: 17px 0;
    background: radial-gradient(farthest-corner at 35% 20%,rgb(255 191 71), rgb(236 116 255)); /* 标准的语法（必须放在最后） */

}
.waiting{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:center;
    width: 158px;
    height: 52px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    color: rgb(255 255 255);
    padding: 14px 0;
    background: radial-gradient(farthest-corner at 35% 20%,rgb(255 191 71), rgb(236 116 255)); /* 标准的语法（必须放在最后） */
}
.icon-dengdai{
    width: 24px;
    height: 24px;
    line-height: 24px!important;
    font-size: 24px!important;
}
.waiting1{
    padding: 3px 0 3px 8px;
    font-size: 15px;
    line-height: 18px;
}




.help-box{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 42px;
    /*padding-top: 15px;*/
    /*padding-bottom: 18px;*/
    /*font-weight: 600;*/
    font-size: 13px;
    line-height: 16px;
    /*-webkit-transition: .2s all;*/
    /*-o-transition: .2s all;*/
    /*transition: .2s all;*/
    color: rgb(236 116 255);
    text-align: center;
    cursor: pointer;
}
.el-select{
    width: 100%;

}
.el-input--suffix{

}
.el-input__inner{
    background-color: rgb(40 44 46)!important;
    height: 50px!important;
    border-radius: 5px!important;
    border-color: rgb(155 155 155 / 15%)!important;
    border-width: 1px 1px 0 1px !important;
    color: rgb(196 196 196) !important;
    font-size: 16px!important;
    line-height: 19px!important;

}
.el-select-dropdown__item{
    font-size: 16px!important;
    line-height: 19px!important;
    padding: 8px 15px!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.currency-items1{
    /*width: 30px;*/
    /*height: 30px;*/
}
.currency-items2{
    margin-left: 8px;
    /*height: 30px;*/
}
.paymount1{
    width:40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 20px
}
.paymount2{
    margin: 0 5px 0 10px;
}